<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" xmlns:xi="http://www.w3.org/2001/XInclude">
    <Properties>
        <Property name="filename">target/log/test-$${sd:type}.log</Property>
    </Properties>
    <xi:include href="log4j2-appender.xml"/>
    <xi:include href="log4j2-loggers.xml"/>
</Configuration>